.header {
  margin-left: 20px;
  margin-right: 20px;
}

.graph-container {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  width: 45%;
}

.text {
  margin-left: 20px;
  margin-right: 20px;
  width: 45%;
  height: 400px;
  display: inline-block;
}

.table {
  margin-left: 20px;
  margin-right: 20px;
  width: 30%;
  height: 350px;
  display: inline-block;
  overflow: hidden;
}

.table-wide {
  margin-left: 20px;
  margin-right: 20px;
  width: 45%;
  height: 350px;
  display: inline-block;
  overflow: hidden;
}

.pandas {
  width: 1000px;
  height: 500px;
  margin: auto;
  overflow: hidden;
}
